.color1 {
 
    background-color: darkgray;
 
}
 

 
.color2 {
 
    background-color: darkcyan;
 
}
 

 
.hrmarg {
 
   height:0.5px;  
 
   background-color:darkgray;
 
   width: 30%;
 
   border: none;
 
   }
 

 
   .hrraro {
 
    border: 1.5px solid darkgray; 
 
    border-radius: 100px /2px; 
 
    height: 0px; 
 
    text-align: center; 
 
    width: 45%;
 
   }
 

 
.tamaño {
 
    width: 10px;
 
    height: 20px;
 
}
 

 
/* Sticky footer styles
 
-------------------------------------------------- */

 
body {
 
  /* Margin bottom by footer height */
 
  margin-bottom: 30px;
 
}
 
.footerino {
 
  position: absolute;
 
  bottom: 0;
 
  /* Set the fixed height of the footer here */
 
  height: 30px;
 
  line-height: 30px; /* Vertically center the text there */
 
}